@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Russo+One&display=swap');

header {
    flex: 0 50px;
    background-color: #545454;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

header div {
    padding: 0 0.5em;
}

div.userHeader {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 300px;
}

ul.main-menu {
    color: #f9b873;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

li.main-menu-item a {
    text-decoration: none;
    /* font-family: "Russo One", sans-serif; */
    font-family: "Kode Mono", monospace;
    color: inherit;
    padding: 25px;
    font-size: large;

    transition: color 0.5s;
    transition: font-size 0.8s;
}

li.main-menu-item a:hover {
    color: white;
    font-size: 30px;
}

p {
    font-family: "Kode Mono", monospace;
    text-align: left;
}

main {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

body {
    background-color: #909090;
}

h2 {
    font-family: "Kode Mono", monospace;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
}

main p {
    text-align: center;
}

#chalsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chal {
    padding: 30px 50px 15px 50px;
}

.chalStats p {
    text-align: center;
    margin: 10px;
}

.chalAvatar img:hover {
    animation: chal-hover-avatar 0.5s forwards;
}

.chalAvatar:hover ~ .chalStats {
    animation: chal-hover-stats 0.3s forwards;
}

@keyframes chal-hover-avatar {
    0% {
        box-shadow: 0 0 0 #f9b873;
    }
    100% {
        box-shadow: 0 0 20px #f9b873;
    }
}

@keyframes chal-hover-stats {
    0% {
        text-shadow: 0 0 0 #f9b873;
    }
    100% {
        text-shadow: 0 0 5px #f9b873;
    }
}

.footerContainer {
    min-height: 22vh;    
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #545454;
    flex: 1;
    color: white;
    margin-top: 20px;
}

footer p {
    padding-top: 25px;
    padding-left: 15px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Kode Mono", monospace;
    padding-left: 15px;
}

footer a:hover {
    color: #f9b873;
}