@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
	margin:0;
	padding:0;
}

body::before {
		content:"";
		position:fixed;
		z-index:-100;
		width:100%;
		height:100%;
		background-color:#c1b9ae;
		background-image: 
		radial-gradient(circle, rgba(225,170,7,1) 0%, rgba(233,105,7,1) 80%, rgba(225,170,7,1) 100%);
		animation: bg-change 12s infinite;
}

@keyframes bg-change {
	0% {
		filter:hue-rotate(0deg);
	}
	25% {
		filter:hue-rotate(-20deg);
	}
	50% {
		filter:hue-rotate(0deg);
	}
	75% {
		filter:hue-rotate(20deg);
	}
	100% {
		filter:hue-rotate(0deg);
	}
}

body {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

main {
	color: white;
	font-family: "Kode Mono", monospace;
}

h1 {
	text-align: center;
	padding-top: 2em;
}

h2 {
	text-align: center;
}

.chalStats {
	text-align: right;
}

img {
	box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35)
}

.userBox {
	margin-right: 153px;
}

.userAvatarAnim {
	animation: left-up 2s ease 0s 1 normal forwards;
}

.userAvatarAnim ~ .userStats {
	animation: left-up-text 2s ease 0s 1 normal forwards;
}

.chalAvatarAnim {
	animation: right-up 2s ease 0s 1 normal forwards;
	
}

.chalAvatarAnim ~ .chalStats {
	animation: right-up-text 2s ease 0s 1 normal forwards;
	
}

.dialogueBox {
	padding: 3em;
	position: absolute;
}

.dialogueBox h1 {
	vertical-align: middle;
	padding: 0;
}

.dialogue {
	padding: 0 0 2em 0;
}

.dialogueEnter {
	/* animation: tilt-n-move-shaking 0.25s forwards,
		text-pulse 0.6s forwards; */
	animation: text-pulse 1s forwards;
}

.vs-fadeAnim {
	animation: vs-fade 1s ease 0s 1 normal forwards;
}

@keyframes left-up {
	0% {
		transform: scale(1) translateX(0) translateY(0);
	}

	100% {
		transform: scale(0.5) translateX(-800px) translateY(-300px);
	}
}

@keyframes left-up-text {
	15% {
		transform: scale(1) translateX(0) translateY(0);
	}

	100% {
		transform: translateX(-160px) translateY(-375px);
	}
}

@keyframes right-up {
	0% {
		transform: scale(1) translateX(0) translateY(0);
	}

	100% {
		transform: scale(0.5) translateX(800px) translateY(-300px);
	}
}

@keyframes right-up-text {
	15% {
		transform: scale(1) translateX(0) translateY(0);
	}

	100% {
		transform: translateX(160px) translateY(-375px);
	}
}

@keyframes vs-fade {
	10% {
		opacity: 100%;
	}

	100% {
		opacity: 0%;
	}
}

@keyframes tilt-n-move-shaking {
	0% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(10px, 10px) rotate(10deg); }
	50% { transform: translate(0, 0) rotate(0eg); }
	75% { transform: translate(-10px, 10px) rotate(-10deg); }
	100% { transform: translate(0, 0) rotate(0deg); }
  }

@keyframes text-pulse {
	0% { 
		font-size: 1em;
		transform: translate(0, 0) rotate(0deg); 
	}
	10% { transform: translate(10px, 10px) rotate(10deg); }
	20% { transform: translate(0, 0) rotate(0eg); }
	30% { transform: translate(-10px, 10px) rotate(-10deg); }
	40% { transform: translate(0, 0) rotate(0deg); }
	75% { font-size: 2em }
	100% { font-size: 1.6em }
}

.battleHeaders {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

	padding: 3em 7em 3em 7em;
}

.forfeitButton {
	display: flex;
	justify-content: center;
	padding: 0 0 15px 0;
}

a.forfeit {
	background: linear-gradient(to right,#f59e42 ,#b14d00);
	background-color: #f59e42;
	color: #fff;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	text-decoration: none;
	padding: 14px 15px;
	border: 0px solid #000;
	border-radius: 10px;
	display: inline-block;
	box-shadow: 0px 0px 10px 0px #2D2D2D;
}

a.forfeit:hover {
	background: linear-gradient(to right,#f6aa66 ,#ba6d51);
	background-color: #f6aa66;
}

a.forfeit:active {
	transform: scale(0.95);
}

.footerContainer {
    min-height: 22vh;    
    display: flex;
    flex-direction: row;
	
}

.musicBox {
	margin-top: 50px;
}

.musicBox p {
	font-family: "Kode Mono", monospace;
	color: white;
}

.musicControls {
	display: flex;
	flex-direction: row;
	padding-right: 50px;
	padding-top: 25px;
	gap: 20px;
}

.musicControls img {
	width: 50px;
	box-shadow: none;
}

.musicControls img:hover {
	filter: invert(45%) sepia(100%) saturate(3.5);
}

footer {
    flex: 1;
    color: white;
	margin-top: 25px;
}

footer p {
    padding-top: 25px;
    padding-left: 15px;
	font-family: "Kode Mono", monospace;

	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Kode Mono", monospace;
    padding-left: 15px;
}

footer a:hover {
    color: #f9b873;
}